.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #444;
    margin: 20px;
    width: 300px;
    border-radius: 7px;
}